@model DogGo.Models.ViewModels.WalkFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Walk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Walk.Datetime" class="control-label"></label>
                <input asp-for="Walk.Datetime" class="form-control" />
                <span asp-validation-for="Walk.Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Walk.DurationInMinutes" class="control-label"></label>
                <input asp-for="Walk.DurationInMinutes" class="form-control" />
                <span asp-validation-for="Walk.DurationInMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Walkers" class="control-label"></label>
                <select asp-for="Walkers" class="form-control">
                    @foreach (Walker walker in Model.Walkers)
                    {
                        <option value="@walker.Id">@walker.Name</option>
                    }
                </select>
                <span asp-validation-for="Walk.WalkerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dogs" class="control-label"></label>
                <select id="multiple" asp-for="Walk.DogIds" multiple ="multiple"class="selectpicker form-control">
                    @foreach (Dog dog in Model.Dogs)
                    {
                        <option value="@dog.Id">@dog.Name</option>
                    }
                </select>
                <span asp-validation-for="Walk.DogIds" class="text-danger"></span>
            </div>
            <div class="form-group">


                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
